<% include _layouts/header %>

 <div class="media-body avis-media-body js-readmore-context">
                    <h4>Projet universitaire site web leboncoin</h4>
                    <br>
                        <p>
                            Dans le cadre de la formation d’ingénieur en informatique industrielle, un projet WEB est réalisé. Ce document a pour but de présenter la spécification technique, il doit permettre de définir l’environnement que l’on souhaite lui donner et aborder des aspects plus techniques. 
                            L’objectif de l’outil devra permettre la vente d’articles d’occasion au sein de la société Polytech’Tours. Cette solution doit nous permettre de gérer la diffusion et la réservation/achat d’articles d’occasion.
                        </p>      
                </div>
<br><br><br><!-- comment -->
<hr>
<p class="text-center"></p> 

<div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Remerciment</h4>
                    <br>
                        <p>
                           Nous souhaitons aussi remercié le chaine youtube Easy Learning pour ces séris de video qui nous on permis de réaliser ce site Web
                        </p>                                
                </div>
    </div>
</div>
<hr><br><br>
 <div class="media-object">
     <p><strong>Auteurs   </strong><br>
                        <div class="avis-media-infos">
                            <p><strong>BRUSIN   </strong><br>
			    <p><strong>OLIVE    </strong><br>
                        </div>
</div>

<% include _layouts/footer %>
        
                
            
        
        
                
            
        
        
                
            
        
        
                
            
        
        
                
            
        
        
                
            
        
        
                
            
        
        
        
		<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3017px, 0px, 0px); transition: all 0s ease 0s; width: 12071px;"><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage La grande traversée de Santo Antão" src="/Content/icono/avatar1.jpg" data-src="/Content/icono/avatar1.jpg" alt="Avatar de Patrice ayant fait le voyage La grande traversée de Santo Antão">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Patrice,</strong><br>
							<span class="avis-departure-date">Parti le  09/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Cap-Vert, La grande traversée de Santo Antão</h4>
                        <p>
                            Excellent Guide toujours a l'écoute, très bon accueil de la population et chez l'habitant. Prestation de Nomade excellente. Les contraints de COVID ont été prise en compte au retour pour le PCR 72h avant le départ. Merci a tous
                        </p>
                    
                    <a href="/voyage-aventure/cap-vert/trek-cap-vert/cap55">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Dunes et oasis de l’Amatlich" src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de farida ayant fait le voyage Dunes et oasis de l’Amatlich">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>farida,</strong><br>
							<span class="avis-departure-date">Partie le  26/12/2020</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Mauritanie, Dunes et oasis de l’Amatlich</h4>
                        <p>
                            Nous avons passé une semaine magique! Il y a eu une belle alchimie entre les dunes de Mauritanie, le guide et le groupe!<br>Moments de bonheur volés au contexte morose du COVID!<br>Je remercie le guide Mohamed pour sa gentillesse, son écoute active, et sa bonne humeur. Ainsi que ls chameliers et le...(...)
                        </p>
                    
                    <a href="/voyage-aventure/mauritanie/rando-chameliere-mauritanie/mrt53">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Tour de la Chartreuse" src="/Content/icono/avatar1.jpg" data-src="/Content/icono/avatar1.jpg" alt="Avatar de René ayant fait le voyage Tour de la Chartreuse">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>René,</strong><br>
							<span class="avis-departure-date">Parti le  25/10/2020</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>France, Tour de la Chartreuse</h4>
                        <p>
                            Très bien organisé 
Très bonne réactivité des organisateurs aux aléas 
Excellent encadrement 

                        </p>
                    
                    <a href="/voyage-aventure/france/rando-alpes/fra364">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyautosizes ls-is-cached lazyloaded" title="Image de client ayant fait le voyage Découverte du Queyras à raquette" src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de Laurence ayant fait le voyage Découverte du Queyras à raquette" sizes="95px">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Laurence,</strong><br>
							<span class="avis-departure-date">Partie le  10/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>France, Découverte du Queyras à raquette</h4>
                        <p>
                            Un séjour hors du temps dans un endroit magnifique! Malgré les contraintes Covid, Marc et Claudine font tout pour rendre le séjour convivial, chaleureux et goûteux (la cuisine est excellente): on se sent très vite comme en famille. François, notre guide Raquettes, nous a fait partager la culture et...(...)
                        </p>
                    
                    <a href="/voyage-aventure/france/rando-raquettes-alpes/fra235">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item active" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyautosizes ls-is-cached lazyloaded" title="Image de client ayant fait le voyage Volcans et sentiers de Lanzarote " src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de Anne ayant fait le voyage Volcans et sentiers de Lanzarote " sizes="95px">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Anne,</strong><br>
							<span class="avis-departure-date">Partie le  23/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Espagne, Volcans et sentiers de Lanzarote </h4>
                        <p>
                            Une grande bouffée d’oxygène, dans tous les sens du terme.. ! <br>Bon équilibre entre randonnée et visites, paysages superbes et variés, pas de grande difficulté technique et temps de marche variable selon les parcours, baignade appréciée avec une météo magnifique ! Une équipe locale très sympa et...(...)
                        </p>
                    
                    <a href="/voyage-aventure/espagne/rando-lanzarote/esp89">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyautosizes ls-is-cached lazyloaded" title="Image de client ayant fait le voyage Safari des grands parcs " src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de Daniele ayant fait le voyage Safari des grands parcs " sizes="95px">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Daniele,</strong><br>
							<span class="avis-departure-date">Partie le  15/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Tanzanie, Safari des grands parcs </h4>
                        <p>
                            Malgré plusieurs reports nous avons donc réalisé en janvier 2021  ce projet de Safari des grands parcs de Tanzanie  avec extension d'une semaine à Zanzibar réservé depuis 1 an ! Le durcissement des contraintes sanitaires au retour décidées pendant notre séjour nous ont quelque peu stressés mais...(...)
                        </p>
                    
                    <a href="/voyage-aventure/tanzanie/voyage-safari-tanzanie/tzn51">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Le Costa Rica sans concession" src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de ANNE-MARIE ayant fait le voyage Le Costa Rica sans concession">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>ANNE-MARIE,</strong><br>
							<span class="avis-departure-date">Partie le  16/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Costa Rica, Le Costa Rica sans concession</h4>
                        <p>
                            Pura Vida.Un merveilleux voyage où tout à été parfait du début à la fin. Un groupe sympa, une guide Amalia avec des grandes connaissances sur la flore et la faune de son pays et un chauffeur exceptionnel toujours aux petits soins pour nous.Merci Javier!!!<br>En cette période difficile, on a tout...(...)
                        </p>
                    
                    <a href="/voyage-aventure/costa-rica/parcs-nationaux-costa-rica/cos08">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Safari des grands parcs " src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de GAMBETTE ayant fait le voyage Safari des grands parcs ">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>GAMBETTE,</strong><br>
							<span class="avis-departure-date">Partie le  15/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Tanzanie, Safari des grands parcs </h4>
                        <p>
                            Dans le contexte actuel, ce voyage est une immense bouffée d'oxygène. Quel bonheur de partir à l'affût des animaux sur leur territoire ! On se sent bien petit et vulnérable face à l'immensité de la savane. Merci à nos chauffeurs-guides, Joseph, Mohammed et Good Luck, pour leur patience, leur...(...)
                        </p>
                    
                    <a href="/voyage-aventure/tanzanie/voyage-safari-tanzanie/tzn51">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage La grande traversée de Santo Antão" src="/Content/icono/avatar1.jpg" data-src="/Content/icono/avatar1.jpg" alt="Avatar de Patrice ayant fait le voyage La grande traversée de Santo Antão">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Patrice,</strong><br>
							<span class="avis-departure-date">Parti le  09/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Cap-Vert, La grande traversée de Santo Antão</h4>
                        <p>
                            Excellent Guide toujours a l'écoute, très bon accueil de la population et chez l'habitant. Prestation de Nomade excellente. Les contraints de COVID ont été prise en compte au retour pour le PCR 72h avant le départ. Merci a tous
                        </p>
                    
                    <a href="/voyage-aventure/cap-vert/trek-cap-vert/cap55">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Dunes et oasis de l’Amatlich" src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de farida ayant fait le voyage Dunes et oasis de l’Amatlich">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>farida,</strong><br>
							<span class="avis-departure-date">Partie le  26/12/2020</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Mauritanie, Dunes et oasis de l’Amatlich</h4>
                        <p>
                            Nous avons passé une semaine magique! Il y a eu une belle alchimie entre les dunes de Mauritanie, le guide et le groupe!<br>Moments de bonheur volés au contexte morose du COVID!<br>Je remercie le guide Mohamed pour sa gentillesse, son écoute active, et sa bonne humeur. Ainsi que ls chameliers et le...(...)
                        </p>
                    
                    <a href="/voyage-aventure/mauritanie/rando-chameliere-mauritanie/mrt53">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Tour de la Chartreuse" src="/Content/icono/avatar1.jpg" data-src="/Content/icono/avatar1.jpg" alt="Avatar de René ayant fait le voyage Tour de la Chartreuse">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>René,</strong><br>
							<span class="avis-departure-date">Parti le  25/10/2020</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>France, Tour de la Chartreuse</h4>
                        <p>
                            Très bien organisé Très bonne réactivité des organisateurs aux aléas Excellent encadrement 
                        </p>
                    
                    <a href="/voyage-aventure/france/rando-alpes/fra364">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Découverte du Queyras à raquette" src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de Laurence ayant fait le voyage Découverte du Queyras à raquette">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Laurence,</strong><br>
							<span class="avis-departure-date">Partie le  10/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>France, Découverte du Queyras à raquette</h4>
                        <p>
                            Un séjour hors du temps dans un endroit magnifique! Malgré les contraintes Covid, Marc et Claudine font tout pour rendre le séjour convivial, chaleureux et goûteux (la cuisine est excellente): on se sent très vite comme en famille. François, notre guide Raquettes, nous a fait partager la culture et...(...)
                        </p>
                    
                    <a href="/voyage-aventure/france/rando-raquettes-alpes/fra235">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyautosizes ls-is-cached lazyloaded" title="Image de client ayant fait le voyage Volcans et sentiers de Lanzarote " src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de Anne ayant fait le voyage Volcans et sentiers de Lanzarote " sizes="95px">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Anne,</strong><br>
							<span class="avis-departure-date">Partie le  23/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Espagne, Volcans et sentiers de Lanzarote </h4>
                        <p>
                            Une grande bouffée d’oxygène, dans tous les sens du terme.. ! <br>Bon équilibre entre randonnée et visites, paysages superbes et variés, pas de grande difficulté technique et temps de marche variable selon les parcours, baignade appréciée avec une météo magnifique ! Une équipe locale très sympa et...(...)
                        </p>
                    
                    <a href="/voyage-aventure/espagne/rando-lanzarote/esp89">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyautosizes ls-is-cached lazyloaded" title="Image de client ayant fait le voyage Safari des grands parcs " src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de Daniele ayant fait le voyage Safari des grands parcs " sizes="95px">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>Daniele,</strong><br>
							<span class="avis-departure-date">Partie le  15/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Tanzanie, Safari des grands parcs </h4>
                        <p>
                            Malgré plusieurs reports nous avons donc réalisé en janvier 2021  ce projet de Safari des grands parcs de Tanzanie  avec extension d'une semaine à Zanzibar réservé depuis 1 an ! Le durcissement des contraintes sanitaires au retour décidées pendant notre séjour nous ont quelque peu stressés mais...(...)
                        </p>
                    
                    <a href="/voyage-aventure/tanzanie/voyage-safari-tanzanie/tzn51">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Le Costa Rica sans concession" src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de ANNE-MARIE ayant fait le voyage Le Costa Rica sans concession">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>ANNE-MARIE,</strong><br>
							<span class="avis-departure-date">Partie le  16/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Costa Rica, Le Costa Rica sans concession</h4>
                        <p>
                            Pura Vida.Un merveilleux voyage où tout à été parfait du début à la fin. Un groupe sympa, une guide Amalia avec des grandes connaissances sur la flore et la faune de son pays et un chauffeur exceptionnel toujours aux petits soins pour nous.Merci Javier!!!<br>En cette période difficile, on a tout...(...)
                        </p>
                    
                    <a href="/voyage-aventure/costa-rica/parcs-nationaux-costa-rica/cos08">Voir le voyage</a>
                    
                </div>

            </div></div><div class="owl-item cloned" style="width: 724.4px; margin-right: 30px;"><div class="avis media">
				<div class="media-left">
                    <div class="media-object">
                        <div class="avis-avatar proportional-image proportional-image--100">
                            <img data-sizes="auto" data-parent-fit="cover" class="lazyload" title="Image de client ayant fait le voyage Safari des grands parcs " src="/Content/icono/avatar2.jpg" data-src="/Content/icono/avatar2.jpg" alt="Avatar de GAMBETTE ayant fait le voyage Safari des grands parcs ">
                        </div>
                        <div class="avis-media-infos">
                            <p><strong>GAMBETTE,</strong><br>
							<span class="avis-departure-date">Partie le  15/01/2021</span><br>
                            <span class="avis-satisfaction">Très satisfait</span></p>
                        </div>
                    </div>
                </div>
                <div class="media-body avis-media-body js-readmore-context">
                    <h4>Tanzanie, Safari des grands parcs </h4>
                        <p>
                            Dans le contexte actuel, ce voyage est une immense bouffée d'oxygène. Quel bonheur de partir à l'affût des animaux sur leur territoire ! On se sent bien petit et vulnérable face à l'immensité de la savane. Merci à nos chauffeurs-guides, Joseph, Mohammed et Good Luck, pour leur patience, leur...(...)
                        </p>
                    
                    <a href="/voyage-aventure/tanzanie/voyage-safari-tanzanie/tzn51">Voir le voyage</a>
                    
                </div>

            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="nav-button nav-prev icon-arrow-left"></button><button type="button" role="presentation" class="nav-button nav-next icon-arrow-right"></button></div><div class="nav-dots"><button role="button" class="dot-item active"><span></span></button><button role="button" class="dot-item"><span></span></button><button role="button" class="dot-item"><span></span></button><button role="button" class="dot-item"><span></span></button><button role="button" class="dot-item"><span></span></button><button role="button" class="dot-item"><span></span></button><button role="button" class="dot-item"><span></span></button><button role="button" class="dot-item"><span></span></button></div></div>
    </div>
    
		</div>
</section>

<% include _layouts/footer %>